<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
                <strong>VS后台管理系统</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="index.html" class="InitialPage"><i class="icon-dashboard"></i>数据概况</a>
            </h2>
            <ul>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-columns"></i>预约<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=Admin&c=Plans&a=index">预约列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-list-alt"></i>代金券<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=Admin&c=codes&a=index">代金券列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-inbox"></i>部门管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=Admin&c=Groups&a=index">部门列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>套餐管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=Admin&c=order&a=index">套餐列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-list-alt"></i>员工管理<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=Admin&c=member&a=index">员工列表</a>
                        </dd>
                    </dl>
                </li>

            </ul>
        </nav>
        <footer class="side-footer">© DeathGhost 版权所有</footer>
    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a href="index.php?p=Home&c=Order&a=index" >访问前台</a>
                    </li>
                    <li>
                        <a><i class="icon-random"></i>清除缓存</a>
                    </li>
                    <li>
                        <a><i class="icon-user"></i>管理员:<em>DeathGhost</em></a>
                    </li>
                    <li>
                        <a><i class="icon-bell-alt"></i>系统消息</a>
                    </li>
                    <li>
                        <a href="index.php?p=Admin&c=Login&a=logout" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
</body>
</html>