<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="main-wrap">
    <div class="side-nav">
        <div class="side-logo">
            <div class="logo">
				<span class="logo-ico">
					<i class="i-l-1"></i>
					<i class="i-l-2"></i>
					<i class="i-l-3"></i>
				</span>
                <strong>VS会员系统</strong>
            </div>
        </div>

        <nav class="side-menu content mCustomScrollbar" data-mcs-theme="minimal-dark">
            <h2>
                <a href="index.php?p=Home&c=Rank&a=index" class="InitialPage"><i class="icon-dashboard"></i>服务之星</a>
            </h2>
            <ul>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>个人资料<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=home&c=users&a=index">会员资料</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-columns"></i>预约<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=Home&c=order&a=index">预约列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-list-alt"></i>代金券<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=home&c=codes&a=index">代金券列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>套餐列表<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=home&c=plans&a=index">套餐列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>充值活动<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=home&c=history&a=index">活动列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>充值记录<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=home&c=history&a=charge">记录列表</a>
                        </dd>
                    </dl>
                </li>
                <li>
                    <dl>
                        <dt>
                            <i class="icon-table"></i>消费记录<i class="icon-angle-right"></i>
                        </dt>
                        <dd>
                            <a href="index.php?p=home&c=history&a=pay">记录列表</a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </nav>
        <footer class="side-footer">© DeathGhost 版权所有</footer>
    </div>
    <div class="content-wrap">
        <header class="top-hd">
            <div class="hd-lt">
                <a class="icon-reorder"></a>
            </div>
            <div class="hd-rt">
                <ul>
                    <li>
                        <a href="index.php?p=Home&c=index&a=index" >访问前台</a>
                    </li>
                    <li>
                        <a><i class="icon-user"></i>欢迎会员:<em><?=$_SESSION['USER_INFO']['username']?></em></a>
                    </li>
                    <li>
                        <a href="index.php?p=home&c=Login&a=logout" id="JsSignOut"><i class="icon-signout"></i>安全退出</a>
                    </li>
                </ul>
            </div>
        </header>
</body>
</html>